option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: InhouseMenu/wsgi.py
    - option_name: PYTHONPATH
      value: InhouseMenu/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: InhouseMenu.settings
    - namespace: aws:elasticbeanstalk:container:python:staticfiles
      option_name: /static/
      value: static/

container_commands:
	01_migrate:
		command: "django-admin.py migrate"
	02_collectstatic:
		command: "django-admin.py collectstatic --noinput"
