option_settings:
    - namespace: aws:elasticbeanstalk:container:python
      option_name: WSGIPath
      value: InhouseMenu/wsgi.py
    - option_name: PYTHONPATH
      value: InhouseMenu/wsgi.py
    - option_name: DJANGO_SETTINGS_MODULE
      value: InhouseMenu.settings

container_commands:
  01_migrate:
      command: "django-admin.py migrate"
